<article class="md-post md-post--excerpt">
    <div class="md-post__meta md-meta">
      <ul class="md-meta__list">
        <li class="md-meta__item">
          <time datetime="{{ post.config.date.created }}">
            {{- post.config.date.created | date -}}
          </time>
          {#- Collapse whitespace -#}
        </li>
      </ul>
    </div>

  <div class="md-post__content md-typeset">
    {{ post.content }}
    {% if post.more %}
      <nav class="md-post__action">
        <a href="{{ post.url | url }}">
          {{ lang.t("blog.continue") }}
        </a>
      </nav>
    {% endif %}
  </div>
  <header class="md-post__header">
    {# - Removed authors #}
    <div class="md-post__meta md-meta">
      <ul class="md-meta__list">
        {# Date moved above #}
        {% if post.categories %}
          <li class="md-meta__item">
            {% for category in post.categories %}
              <a href="{{ category.url | url }}" class="md-meta__link">
                {{- category.title -}}
              </a>
              {%- if loop.revindex > 1 %}, {% endif -%}
            {% endfor -%}
          </li>
        {% endif %}
        {% if post.meta.tags %}
          <li class="md-meta__item tags">
            {% for tag in post.meta.tags %}
              <a href="/tags/#tag:{{ tag }}" class="md-meta__link">
                {{ tag }}
              </a>
              {%- if loop.revindex > 1 %} | {% endif -%}
            {% endfor -%}
          </li>
        {% endif %}
        {% if post.config.readtime %}
          {% set time = post.config.readtime %}
          <li class="md-meta__item">
            {% if time == 1 %}
              {{ lang.t("readtime.one") }}
            {% else %}
              {{ lang.t("readtime.other") | replace("#", time) }}
            {% endif %}
          </li>
        {% endif %}
      </ul>
      {% if post.config.draft %}
        <span class="md-draft">
          {{ lang.t("blog.draft") }}
        </span>
      {% endif %}
    </div>
  </header>
{#  <div class="md-post__content md-typeset">
    {{ post.content }}
    {% if post.more %}
      <nav class="md-post__action">
        <a href="{{ post.url | url }}">
          {{ lang.t("blog.continue") }}
        </a>
      </nav>
    {% endif %}
  </div>  ##### Moved above header #}
</article>